## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [6]:
import pandas as pd 
import numpy as np 

pd.__version__

'1.2.4'

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [7]:
df = pd.read_csv("laliga.csv") 
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [8]:
df[0:4]

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [9]:
df.values

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [10]:
df.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

In [11]:
poblacion = pd.Series([6685471, 2698764, 1494442, 8446561], 
                index= ["Madrid", "Galicia", "Murcia", "Andalucía"])

poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [12]:
valores = np.array(poblacion)
print(f"Valores: {valores}")

indices = np.array(poblacion.index)
print(f"Indices: {indices}")

valor_ind = np.array(poblacion.index[0:4])
print(f"Valor de sus indices: {valor_ind}")         #no!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11mirar el video de clase del viernes 

#my_array[[1,3,5,7,9]] # los números de dentro corresponden a los índices

Valores: [6685471 2698764 1494442 8446561]
Indices: ['Madrid' 'Galicia' 'Murcia' 'Andalucía']
Valor de sus indices: ['Madrid' 'Galicia' 'Murcia' 'Andalucía']

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [13]:
# 1 ¿Qué población hay en el primer elemento del Series?
print(f"Población en el primer elemento: {poblacion[0]}")

Población en el primer elemento: 6685471

In [14]:
# 2 ¿Qué población hay en Galicia?
print(f"Población en Galicia:", poblacion["Galicia"])

Población en Galicia: 2698764

In [15]:
# 3 Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del Series.
print(poblacion[1::])

Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

In [16]:
# 4 Comprueba con un output booleano que Galicia se encuentra entre los índices del Index.
(poblacion.index == "Galicia").any()

True

In [23]:
# 5 Realiza los apartados 1,2,3 pero esta vez de una manera diferente.
apartado1 = poblacion["Madrid"]
apartado2 = poblacion[1]
apartado3 = poblacion.tail(3)

print(apartado1,"\n", apartado2,"\n", apartado3)

6685471
 2698764
 Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

In [40]:
data = pd.Series([9.99, 11.74, 16.08, 20.8],
                ["Madrid", "Galicia", "Murcia", "Andalucía"])


data = pd.concat([poblacion, data], axis=1)
data.columns = ["Población", "Paro"]

data

           Población   Paro
Madrid       6685471   9.99
Galicia      2698764  11.74
Murcia       1494442  16.08
Andalucía    8446561  20.80

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [50]:
indice = data.index
print((f"Poblacion: {indice}"))

print(f"Tasa de paro: {data[::]}")

Poblacion: Index(['Madrid', 'Galicia', 'Murcia', 'Andalucía'], dtype='object')
Tasa de paro:            Población   Paro
Madrid       6685471   9.99
Galicia      2698764  11.74
Murcia       1494442  16.08
Andalucía    8446561  20.80

In [47]:
data["Paro"]

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucía    20.80
Name: Paro, dtype: float64

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

In [26]:
superficie = pd.Series([8028, 29575, 11314, 87599],
                ["Madrid", "Galicia", "Murcia", "Andalucía"])

data2 = pd.concat([data, superficie], axis=1)
data2.columns = ["Paro", "Superficie"]
data2

            Paro  Superficie
Madrid      9.99        8028
Galicia    11.74       29575
Murcia     16.08       11314
Andalucía  20.80       87599

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.