![imagen](https://cdn.foodbeast.com/content/wp-content/uploads/2012/03/beer-print-01-selectism.jpg)

# BONUS - Beers
Para este ejercicio se ha utilizado [un dataset de un concurso de kaggle](https://www.kaggle.com/nickhould/craft-cans), cuyo reto consiste en predecir el tipo de cerveza en función de sus características (nivel de alcohol, amargura, tamaño...).

# Ejercicio 1
Importa las librerias que consideres

In [78]:
import numpy as np 
import pandas as pd

## Ejercicio 2
1. Importa el dataset "datasets_beer.csv"
2. Imprime por pantalla los primeros registros.
3. ¿Cuáles son sus columnas?
4. ¿Qué dimensiones tiene el DataFrame?

In [79]:
# 1.
df = pd.read_csv("beers.csv", sep=",")

# 2.
df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [80]:
# 3.
df.columns

Index(['Unnamed: 0', 'abv', 'ibu', 'id', 'name', 'style', 'brewery_id',
       'ounces'],
      dtype='object')

In [81]:
# 4.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   abv         2348 non-null   float64
 2   ibu         1405 non-null   float64
 3   id          2410 non-null   int64
 4   name        2410 non-null   object
 5   style       2405 non-null   object
 6   brewery_id  2410 non-null   int64
 7   ounces      2410 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 150.8+ KB

## Ejercicio 3
[Elimina la columna "Unnamed: 0"](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [82]:
df = df.drop(columns=["Unnamed: 0"])
df

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...
2405,0.067,45.0,928,Belgorado,Belgian IPA,424,12.0
2406,0.052,NaN,807,Rail Yard Ale,American Amber / Red Ale,424,12.0
2407,0.055,NaN,620,B3K Black Lager,Schwarzbier,424,12.0
2408,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0
2409,0.052,NaN,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0

## Ejercicio 4
¿Cuántas filas y columnas tiene el dataset?

In [83]:
df.shape

(2410, 7)

## Ejercicio 5
¿De qué tipo son los datos?

In [84]:
df.dtypes

abv           float64
ibu           float64
id              int64
name           object
style          object
brewery_id      int64
ounces        float64
dtype: object

## Ejercicio 6
Obtén en una nuevo DataFrame un resumen con las principales estadísticas de las columnas numércias: mean, max, count, cuantiles...

In [104]:
resumen = df.describe()
resumen

               abv          ibu           id   brewery_id       ounces
count  2348.000000  1405.000000  2410.000000  2410.000000  2410.000000
mean      0.059773    42.713167  1431.113278   231.749793    13.592241
std       0.013542    25.954066   752.459975   157.685604     2.352204
min       0.001000     4.000000     1.000000     0.000000     8.400000
25%       0.050000    21.000000   808.250000    93.000000    12.000000
50%       0.056000    35.000000  1453.500000   205.000000    12.000000
75%       0.067000    64.000000  2075.750000   366.000000    16.000000
max       0.128000   138.000000  2692.000000   557.000000    32.000000

## Ejercicio 7
¿Cuántas birras hay de cada estilo en este dataset? [Investiga en la documentación de Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) si puedes hacer un conteo de valores.

In [105]:
df["style"].value_counts()

American IPA                      424
American Pale Ale (APA)           245
American Amber / Red Ale          133
American Blonde Ale               108
American Double / Imperial IPA    105
                                 ...
American Malt Liquor                1
Low Alcohol Beer                    1
Smoked Beer                         1
Flanders Red Ale                    1
Other                               1
Name: style, Length: 99, dtype: int64

In [106]:
df.head()

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

## Ejercicio 8
1. Imprime por pantalla los registros del 10 al 20
2. De esos registros, imprime por pantalla desde la columna `name` a `ounces`, ambas incluidas
3. Quédate con las columnas `abv`, `ibu` y `ounces`, y además quédate sólo con los registros 10 al 20.
4. Convierte el resultado del apartado 3 en un array de `numpy`

In [107]:
# 1. Imprime por pantalla los registros del 10 al 20
df.iloc[10:21]

,abv,ibu,id,name,style,brewery_id,ounces
10,0.072,NaN,2099,Sophomoric Saison,Saison / Farmhouse Ale,177,12.0
11,0.073,NaN,2098,Regional Ring Of Fire,Saison / Farmhouse Ale,177,12.0
12,0.069,NaN,2097,Garce Selé,Saison / Farmhouse Ale,177,12.0
13,0.085,NaN,1980,Troll Destroyer,Belgian IPA,177,12.0
14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
15,0.060,NaN,2318,Ginja Ninja,Cider,154,12.0
16,0.060,NaN,2170,Cherried Away,Cider,154,12.0
17,0.060,NaN,2169,Rhubarbarian,Cider,154,12.0
18,0.060,NaN,1502,BrightCider,Cider,154,12.0
19,0.082,NaN,1593,He Said Baltic-Style Porter,Baltic Porter,368,12.0
20,0.082,NaN,1592,He Said Belgian-Style Tripel,Tripel,368,12.0

In [108]:
# 2. De esos registros, imprime por pantalla desde la columna name a ounces, ambas incluidas
idx = pd.IndexSlice
df.loc[idx[10:20, "name":"ounces"]]

                            name                    style  brewery_id  ounces
10             Sophomoric Saison   Saison / Farmhouse Ale         177    12.0
11         Regional Ring Of Fire   Saison / Farmhouse Ale         177    12.0
12                    Garce Selé   Saison / Farmhouse Ale         177    12.0
13               Troll Destroyer              Belgian IPA         177    12.0
14                  Bitter Bitch  American Pale Ale (APA)         177    12.0
15                   Ginja Ninja                    Cider         154    12.0
16                 Cherried Away                    Cider         154    12.0
17                  Rhubarbarian                    Cider         154    12.0
18                   BrightCider                    Cider         154    12.0
19   He Said Baltic-Style Porter            Baltic Porter         368    12.0
20  He Said Belgian-Style Tripel                   Tripel         368    12.0

In [109]:
# 3. Quédate con las columnas abv, ibu y ounces, y además quédate sólo con los registros 10 al 20.
df.loc[10:20,["abv", "ibu", "ounces"]]

      abv   ibu  ounces
10  0.072   NaN    12.0
11  0.073   NaN    12.0
12  0.069   NaN    12.0
13  0.085   NaN    12.0
14  0.061  60.0    12.0
15  0.060   NaN    12.0
16  0.060   NaN    12.0
17  0.060   NaN    12.0
18  0.060   NaN    12.0
19  0.082   NaN    12.0
20  0.082   NaN    12.0

In [110]:
# 4. Convierte el resultado del apartado 3 en un array de numpy
df.to_numpy()

array([[0.05, nan, 1436, ..., 'American Pale Lager', 408, 12.0],
       [0.066, nan, 2265, ..., 'American Pale Ale (APA)', 177, 12.0],
       [0.071, nan, 2264, ..., 'American IPA', 177, 12.0],
       ...,
       [0.055, nan, 620, ..., 'Schwarzbier', 424, 12.0],
       [0.055, 40.0, 145, ..., 'American Pale Ale (APA)', 424, 12.0],
       [0.052, nan, 84, ..., 'American Amber / Red Ale', 424, 12.0]],
      dtype=object)

## Ejercicio 9
¿Cuántas onzas pesan todas las birras del dataset?

In [113]:
df["ounces"].sum()

32757.3

## Ejercicio 10
El amargor de las cervezas se mide por su nivel de IBUs.
1. ¿Cuál es el amargor medio de las cervezas?
2. ¿El máximo? ¿Y el mínimo?
3. ¿Qué cerveza es la que tiene el amargor máximo? ¿Cuál es la de amargor mínimo?

In [116]:
# 1. ¿Cuál es el amargor medio de las cervezas? 
df["ibu"].mean()

42.71316725978647

In [119]:
# 2. ¿El máximo? ¿Y el mínimo? 
print(df["ibu"].max())
df["ibu"].min()

138.0

4.0

In [154]:
# 3. ¿Qué cerveza es la que tiene el amargor máximo? ¿Cuál es la de amargor mínimo?
amargor_max = df.sort_values(by="ibu")[:1]
print(amargor_max["name"])

amargor_min = df.sort_values(by="ibu",na_position="first")[-1:]
amargor_min["name"]

112    Summer Solstice Cerveza Crema (2009)
Name: name, dtype: object

147    Bitter Bitch Imperial IPA
Name: name, dtype: object

## Ejercicio 11
No queda muy claro cuánto de dispar, de dispersa, es la medida de IBU. Mediante estadística descriptiva (una o dos métricas, sin gráficas), razona la dispersión de la variable IBU.

In [158]:
df["ibu"].std()

25.954065911259317

In [156]:
df.describe()

               abv          ibu           id   brewery_id       ounces
count  2348.000000  1405.000000  2410.000000  2410.000000  2410.000000
mean      0.059773    42.713167  1431.113278   231.749793    13.592241
std       0.013542    25.954066   752.459975   157.685604     2.352204
min       0.001000     4.000000     1.000000     0.000000     8.400000
25%       0.050000    21.000000   808.250000    93.000000    12.000000
50%       0.056000    35.000000  1453.500000   205.000000    12.000000
75%       0.067000    64.000000  2075.750000   366.000000    16.000000
max       0.128000   138.000000  2692.000000   557.000000    32.000000

## Ejercicio 12
¿Existe alguna [relación lineal](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html) entre las variables numéricas del dataset? Intenta pintar este razonmiento mediante un gráfico.

Hint: La librería **Seaborn** tiene un método llamado `heatmap` que te puede ayudar.

In [157]:
import seaborn as sns

## Ejercicio 13
Representa el nivel de alcohol (columna `abv`) en un [histograma](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.hist.html). ¿Se trata de una distribución simétrica o asimétrica?

## Ejercicio 14
1. ¿Qué estilos son los que tienen en media más alcohol?
2. ¿Y los estilos que son en media más amargos?

## Ejercicio 15
Carga el datasets de cervecerias `datasets_breweries.csv`

## Ejercicio 16
1. Renombra la columna `Unnamed: 0` como `brewery_id`
2. Renombra tb la columna `name` por `brewery_name`. ¿Puedes hacer ambos apartados en una sola sentencia?

## Ejercicio 17
Junta los dos datasets que tienes

## Ejercicio 18
1. ¿Cuántos estados diferentes hay?
2. ¿Y ciudades diferentes?
3. ¿Cuántas vervecerías hay?

## Ejercicio 19
Agrupa por estado y ciudad, la media, mediana y máximo nivel de alcohol

## Ejercicio 20
¿Cuáles son las cervezas más amargas que se consumen en Indiana, estado = `IN`?

## Ejercicio 21
Obtén una tabla con los principales estadísticos del campo `ibu`,  a nivel ciudad

## Ejercicio 22
Consigue en un DataFrame todas las cervezas en cuyas cervecerías el mínimo nivel de `abv` sea de 0.07.

## Ejercicio 23
Teniendo en cuenta la media de amargor de todas las cervezas, obtén una tabla con las cervezas cuyos estados tengan una media de amargor en cerveza por encima de la media