In [47]:
import numpy as np
import pandas as pd

import urllib.request
from PIL import Image

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn import preprocessing

In [3]:
df = pd.read_csv("data/diamonds_train.csv", index_col=0)
df

       carat        cut color clarity  depth  table     x     y     z  price
0       1.21      Ideal     H     VS2   63.0   57.0  6.73  6.70  4.23   6134
1       0.28  Very Good     D    VVS2   64.0   56.0  4.14  4.17  2.66    532
2       0.42    Premium     F     VS1   61.2   58.0  4.86  4.82  2.96   1103
3       0.26      Ideal     H      IF   61.1   57.0  4.16  4.12  2.53    600
4       1.10       Good     G     SI1   63.4   57.0  6.52  6.55  4.14   4997
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
40340   1.55    Premium     H     VS2   61.3   61.0  7.46  7.39  4.55  11708
40341   0.36      Ideal     D     SI1   60.6   56.0  4.58  4.63  2.79    619
40342   0.57  Very Good     I     VS2   62.2   55.0  5.33  5.34  3.32   1267
40343   1.01  Very Good     F      IF   59.6   62.0  6.47  6.56  3.88   9965
40344   0.54      Ideal     E     SI2   60.4   57.0  5.33  5.27  3.20   1340

[40345 rows x 10 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40345 entries, 0 to 40344
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40345 non-null  float64
 1   cut      40345 non-null  object
 2   color    40345 non-null  object
 3   clarity  40345 non-null  object
 4   depth    40345 non-null  float64
 5   table    40345 non-null  float64
 6   x        40345 non-null  float64
 7   y        40345 non-null  float64
 8   z        40345 non-null  float64
 9   price    40345 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.4+ MB

In [5]:
# codificamos la columna cut
le = preprocessing.LabelEncoder()
le.transform(df["cut"])

   carat        cut color clarity  depth  table     x     y     z  price
0   1.21      Ideal     H     VS2   63.0   57.0  6.73  6.70  4.23   6134
1   0.28  Very Good     D    VVS2   64.0   56.0  4.14  4.17  2.66    532
2   0.42    Premium     F     VS1   61.2   58.0  4.86  4.82  2.96   1103
3   0.26      Ideal     H      IF   61.1   57.0  4.16  4.12  2.53    600
4   1.10       Good     G     SI1   63.4   57.0  6.52  6.55  4.14   4997

## 1. Definir X e y

In [20]:
X = df.iloc[:,4:-1]
y = df["price"]

## 2. Dividir X_train, X_test, y_train, y_test

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

## 3. Asignar el modelo (vacío) a una variable

In [22]:
model = LinearRegression()

## 4. Entrenar el modelo con X_train, y_train

In [23]:
model.fit(X_train, y_train)

LinearRegression()

## 5. Predecir con el modelo ya entrenado con X_test

In [24]:
predictions = model.predict(X_test)
print(predictions)

[ 7880.90938658  5106.25132157  -309.19039256 ... -2105.54637297
  5978.86297897  2338.94520054]

## 6. Sacar métricas, valorar el modelo

In [25]:
np.sqrt(mean_squared_error(y_test, predictions))

1887.6504737880584

## 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `diamonds_train.csv` al completo.

In [36]:
X_pred = pd.read_csv("data/diamonds_test.csv", index_col = 0)
X_pred.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.30      Ideal     H     SI2   60.0   56.0  4.41  4.43  2.65
1   0.34      Ideal     D      IF   62.1   57.0  4.52  4.46  2.79
2   1.57  Very Good     I     VS2   60.3   58.0  7.58  7.55  4.56
3   0.31      Ideal     H     VS2   61.8   57.0  4.32  4.36  2.68
4   1.51       Good     I    VVS1   64.0   60.0  7.26  7.21  4.63

In [37]:
X_pred = np.array(X_pred[['depth','table','x','y','z']])

## 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

In [38]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([ -126.0572984 ,   109.09593062,  9763.33147277, ...,
        8736.2557161 , 10164.58581474,  -592.54896639])

## **¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

In [42]:
sample = pd.read_csv("data/sample_submission.csv")

In [43]:
sample.head()

   id  price
0   0  12132
1   1  11786
2   2  14684
3   3  15425
4   4   6724

## 4. Mete tus predicciones en un dataframe.

In [44]:
submission = pd.DataFrame({"id": range(len(predictions_submit)), "price": predictions_submit})
submission

          id         price
0          0   -126.057298
1          1    109.095931
2          2   9763.331473
3          3   -504.549465
4          4   8592.950790
...      ...           ...
13444  13444   6777.856581
13445  13445  -1030.627901
13446  13446   8736.255716
13447  13447  10164.585815
13448  13448   -592.548966

[13449 rows x 2 columns]

## 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [45]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.id.all() == sample.id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [46]:
chequeator(submission)

You're ready to submit!