In [13]:
import tensorflow as tf
from tensorflow.keras.preprocessing import image
from tensorflow.keras import datasets, layers, models
import matplotlib.pyplot as plt
import numpy as np
from skimage.io import imread
import cv2
import pickle
from tensorflow.keras.preprocessing.text import Tokenizer
import pandas as pd 

from tensorflow.keras.applications.resnet_v2 import ResNet50V2, decode_predictions, preprocess_input

In [14]:
df = pd.read_csv("train_set.csv")
df

        label  id_img               path
0       happy   22373    happy/22373.jpg
1       happy   21433    happy/21433.jpg
2       happy   12418    happy/12418.jpg
3       happy   21278    happy/21278.jpg
4       happy    8081    happy/08081.jpg
...       ...     ...                ...
6171  sadness   11346  sadness/11346.jpg
6172  sadness    4441  sadness/04441.jpg
6173  sadness   15236  sadness/15236.jpg
6174  sadness   27361  sadness/27361.jpg
6175  sadness   25239  sadness/25239.jpg

[6176 rows x 3 columns]

In [15]:
from pycaret.classification import *

setup = setup(data=df, target="label", numeric_imputation="median", session_id=123)

In [16]:
best_model = compare_models()

In [17]:
print(best_model)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=123, verbose=0,
                       warm_start=False)

In [18]:
rf = create_model("rf")

In [20]:
tuned_rf = tune_model(rf)

In [21]:
tuned_rf

RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                       class_weight='balanced_subsample', criterion='gini',
                       max_depth=4, max_features='sqrt', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0005,
                       min_impurity_split=None, min_samples_leaf=3,
                       min_samples_split=5, min_weight_fraction_leaf=0.0,
                       n_estimators=260, n_jobs=-1, oob_score=False,
                       random_state=123, verbose=0, warm_start=False)

In [22]:
data_unseen = pd.read_csv('test_set.csv') 
# generate predictions on unseen data
predictions = predict_model(tuned_rf, data = data_unseen)
predictions

      id_img            path  Label  Score
0      18341  test/18341.jpg  happy    0.5
1      13176  test/13176.jpg  happy    0.5
2      23945  test/23945.jpg  happy    0.5
3      15968  test/15968.jpg  happy    0.5
4      18382  test/18382.jpg  happy    0.5
...      ...             ...    ...    ...
4112    8966  test/08966.jpg  happy    0.5
4113   12111  test/12111.jpg  happy    0.5
4114   16629  test/16629.jpg  happy    0.5
4115   24322  test/24322.jpg  happy    0.5
4116   23412  test/23412.jpg  happy    0.5

[4117 rows x 4 columns]

In [43]:
submission = predictions.iloc[:,::2]

In [44]:
submission.rename(columns={"Label":"label"}, inplace=True)

In [45]:
sample = pd.read_csv("sample_submission.csv")
sample

      id_img    label
0      18341  sadness
1      13176  sadness
2      23945    happy
3      15968    happy
4      18382    happy
...      ...      ...
4112    8966  sadness
4113   12111  sadness
4114   16629  sadness
4115   24322  sadness
4116   23412    happy

[4117 rows x 2 columns]

In [46]:
def chequeator(df_to_submit):
    """
    Esta funciÃ³n se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es asÃ­, se guardarÃ¡ el dataframe en un `csv` y estarÃ¡ listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aÃºn no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. TambiÃ©n tÃº.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.id_img.all() == sample.id_img.all():
                print("You're ready to submit!")
                submission.to_csv("submission_pycaret.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que despuÃ©s de todo este notebook hayas hecho algÃºn cambio en las filas de `diamonds_test.csv`. Lloro.")

In [47]:
chequeator(submission)

You're ready to submit!

NameError: name 'urllib' is not defined