In [19]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor  # conjunto de arboles
from sklearn.tree import DecisionTreeRegressor  # solo un arbol, si el randomforest no ofrece ninguna mejora a este modelo, nos quedamos con este algoritmo que es mas facil

https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

# Ejercicio Regression Tree
Son datos de temperaturas tomados de la ciudad de Seattle. El objetivo es intentar predecir lo mejor posible la máxima temperatura (columna `actual`) que alcanzaremos al día siguiente. Para ello contaremos con temperaturas de los dos días anteriores, históricos de máximas temperaturas y un amigo bastante chapas que te da su predicción del tiempo cada día.

**Resumen de datos**:
* year: 2016 for all data points
* month: number for month of the year
* day: number for day of the year
* week: day of the week as a character string
* temp_2: max temperature 2 days prior
* temp_1: max temperature 1 day prior
* average: historical average max temperature
* actual: max temperature measurement
* friend: your friend’s prediction, a random number between 20 below the average and 20 above the average


### 1. Importa el csv "temps.csv"

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/temps.csv')
df.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

### 2. Lidia con las variables categóricas del dataset

In [4]:
df = pd.get_dummies(df)
df

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2016,12,27,42,42,45.2,47,41,50,47,47,0,0,0,0,0,1,0
344,2016,12,28,42,47,45.3,48,41,49,44,58,0,0,0,0,0,0,1
345,2016,12,29,47,48,45.3,48,43,50,45,65,0,0,0,0,1,0,0
346,2016,12,30,48,48,45.4,57,44,46,44,42,1,0,0,0,0,0,0
347,2016,12,31,48,57,45.5,40,42,48,47,57,0,0,1,0,0,0,0

In [10]:
# lo que queremos predecir
target = np.array(df["actual"])
# variables para las predicciones
features = df.drop("actual", 1) # todos son X?

### 3. Divide en train y test

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=42)

### 4. Entrena el modelo
Utiliza un DecisionTreeRegressor

In [18]:
rf = RandomForestRegressor(n_estimators=1000, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

### 5. Calcula su MAE
Sin usar sklearn

In [25]:
predictions = rf.predict(X_test)

errors = abs(predictions - y_test)

print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 4.11 degrees.

### 6. Calcula su MAPE
Sin usar sklearn

In [38]:
X_test_array = X_test.to_numpy()
X_test_array.shape

(70, 3)

In [39]:
errors.shape

(70,)

In [41]:
mape = 100 * (errors.reshape(-1,1) / X_test_array)
mape

array([[ 0.7115942 ,  0.74281392,  0.86140351],
       [ 2.81864407,  2.73970346,  3.326     ],
       [ 0.77735849,  0.85833333,  0.93636364],
       [ 5.02333333,  4.94098361,  5.79615385],
       [ 1.03880597,  0.98863636,  1.2       ],
       [21.55882353, 23.26984127, 17.6626506 ],
       [ 3.73066667,  3.62905318,  3.45432099],
       [ 4.86777778,  5.71932115,  6.25857143],
       [ 0.36724138,  0.38309353,  0.40961538],
       [21.33375   , 25.09852941, 31.60555556],
       [ 2.91724138,  3.12177122,  2.72903226],
       [15.37065217, 20.70424597, 24.38103448],
       [ 3.74390244,  3.34422658,  2.36153846],
       [ 2.66438356,  3.24707846,  3.4122807 ],
       [ 3.48666667,  3.65734266,  4.02307692],
       [14.57647059, 15.048583  , 13.04210526],
       [ 0.55070423,  0.74904215,  1.02894737],
       [14.83606557, 16.60550459, 17.40384615],
       [ 7.885     ,  9.22222222,  7.16818182],
       [ 8.45128205,  9.10497238,  9.83880597],
       [ 7.36666667,  7.33175355,  8.43818182],
       [ 5.02727273,  5.53      ,  6.01086957],
       [ 1.87727273,  1.77761836,  1.79565217],
       [ 0.39666667,  0.39732888,  0.5173913 ],
       [ 2.73333333,  2.67391304,  2.73333333],
       [ 4.66862745,  4.92960663,  3.90327869],
       [ 5.55423729,  4.95763994,  4.96515152],
       [10.3375    , 10.67096774, 10.12653061],
       [ 0.55757576,  0.55842185,  0.46      ],
       [ 2.35466667,  2.32368421,  2.35466667],
       [ 8.49012346, 11.51926298, 11.6559322 ],
       [ 1.98688525,  1.98039216,  2.47346939],
       [ 7.39230769,  8.00833333, 10.38918919],
       [ 2.45542169,  2.66405229,  2.26444444],
       [ 1.37894737,  1.35400517,  1.61230769],
       [ 2.59016393,  3.0859375 ,  2.59016393],
       [ 5.26071429,  5.93951613,  8.92727273],
       [ 9.99230769, 10.66940452,  8.51803279],
       [ 3.01791045,  2.75102041,  3.74444444],
       [26.04102564, 22.51884701, 16.38064516],
       [19.78688525, 19.59415584, 16.09333333],
       [12.61186441, 13.40720721, 15.83191489],
       [ 2.03333333,  2.77272727,  2.99454545],
       [26.1175    , 22.66160521, 26.1175    ],
       [ 5.52931034,  5.54844291,  7.28863636],
       [31.95735294, 35.10662359, 36.83220339],
       [ 3.13396226,  3.22524272,  3.13396226],
       [ 0.32692308,  0.33203125,  0.30357143],
       [ 0.26862745,  0.2541744 ,  0.22096774],
       [ 7.24347826,  7.18103448,  5.95      ],
       [13.96086957, 14.23946785, 16.46666667],
       [ 5.66136364,  5.42701525,  4.7       ],
       [ 7.65223881,  7.89984592,  6.25243902],
       [ 3.56153846,  3.46556886,  3.6171875 ],
       [ 8.10135135,  8.3148405 ,  8.56428571],
       [ 6.11935484,  6.71504425,  5.42      ],
       [ 2.32857143,  2.60279441,  3.83529412],
       [ 3.75726496,  8.06605505,  7.20655738],
       [ 5.20816327,  4.75232775,  3.92615385],
       [ 4.30363636,  3.91239669,  3.156     ],
       [ 1.25820896,  1.2252907 ,  1.15479452],
       [ 3.41956522,  3.21676892,  3.9325    ],
       [10.0890625 , 12.32251908,  9.0943662 ],
       [ 0.18533333,  0.19857143,  0.15444444],
       [15.04920635, 17.46040516, 18.962     ],
       [ 8.90166667,  9.40316901,  8.3453125 ],
       [ 2.69452055,  2.6834925 ,  2.34166667],
       [ 1.31830986,  1.26486486,  1.50967742],
       [ 1.78625   ,  1.86553525,  1.58777778],
       [12.9925    , 11.29782609,  9.62407407]])

### 7. Representa el árbol de decision

### 8. Modifica el max_depth a 3 y vuelve a entrenarlo

### 9. Vuelve a calcular si MAE

### 10. Vuelve a representar su árbol

### 10. Obten el `feature_importances` de cada variable en el último modelo