# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [55]:
import numpy as np 
import pandas as pd 
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [308]:
first = np.random.randint(1,4,100)
second = np.random.randint(1,3,100)
third = np.random.randint(10000,30000,100)

In [309]:
first = pd.Series(first)
second = pd.Series(second)
third = pd.Series(third)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [310]:
df = pd.concat([first, second, third], axis=1)
df

    0  1      2
0   1  1  18093
1   3  1  19299
2   2  2  12712
3   3  2  17489
4   2  2  17446
.. .. ..    ...
95  3  1  24297
96  3  1  23862
97  1  2  11841
98  3  1  20108
99  2  2  20793

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [311]:
df = df.rename(columns = {0:"bedrs", 1: "bathrs", 2:"price_sqr_meter"})
df

    bedrs  bathrs  price_sqr_meter
0       1       1            18093
1       3       1            19299
2       2       2            12712
3       3       2            17489
4       2       2            17446
..    ...     ...              ...
95      3       1            24297
96      3       1            23862
97      1       2            11841
98      3       1            20108
99      2       2            20793

[100 rows x 3 columns]

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [313]:
bigcolumn = pd.concat([first,second,third])
bigcolumn

0         1
1         3
2         2
3         3
4         2
      ...
95    24297
96    23862
97    11841
98    20108
99    20793
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [316]:
df.index

RangeIndex(start=0, stop=100, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [317]:
new_index = list(range(0,300))
df = df.reindex(new_index)
df

     bedrs  bathrs  price_sqr_meter
0      1.0     1.0          18093.0
1      3.0     1.0          19299.0
2      2.0     2.0          12712.0
3      3.0     2.0          17489.0
4      2.0     2.0          17446.0
..     ...     ...              ...
295    NaN     NaN              NaN
296    NaN     NaN              NaN
297    NaN     NaN              NaN
298    NaN     NaN              NaN
299    NaN     NaN              NaN

[300 rows x 3 columns]

In [318]:
df["bigcolumn"] = np.array(bigcolumn)
df

     bedrs  bathrs  price_sqr_meter  bigcolumn
0      1.0     1.0          18093.0          1
1      3.0     1.0          19299.0          3
2      2.0     2.0          12712.0          2
3      3.0     2.0          17489.0          3
4      2.0     2.0          17446.0          2
..     ...     ...              ...        ...
295    NaN     NaN              NaN      24297
296    NaN     NaN              NaN      23862
297    NaN     NaN              NaN      11841
298    NaN     NaN              NaN      20108
299    NaN     NaN              NaN      20793

[300 rows x 4 columns]