# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(address, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [3]:
chipo["item_price"] = chipo["item_price"].str.replace("$"," ")
chipo["item_price"] = sorted(chipo["item_price"].apply(lambda x: float(x)), reverse=True)

chipo["item_name"].iloc[0]

ipykernel_launcher:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

'Chips and Fresh Tomato Salsa'

### Step 4. How many products cost more than $10.00?

In [12]:
chipo["price_ud"] = chipo["item_price"] / chipo['quantity']
chipo[chipo.price_ud > 10].shape[0]

1070

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [6]:
# con loc
chipo.loc[:,["item_name", "item_price"]].drop_duplicates("item_name")

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa       44.25
1                                      Izze       35.25
2                          Nantucket Nectar       35.00
3     Chips and Tomatillo-Green Chili Salsa       35.00
4                              Chicken Bowl       33.75
6                             Side of Chips       27.75
7                             Steak Burrito       27.75
8                          Steak Soft Tacos       26.25
10                      Chips and Guacamole       26.25
11                     Chicken Crispy Tacos       26.07
12                       Chicken Soft Tacos       23.78
16                          Chicken Burrito       23.50
18                              Canned Soda       23.50
21                         Barbacoa Burrito       22.50
27                         Carnitas Burrito       22.50
33                            Carnitas Bowl       22.50
34                            Bottled Water       22.20
38    Chips and Tomatillo Green Chili Salsa       21.96
39                            Barbacoa Bowl       21.96
40                                    Chips       21.96
44                       Chicken Salad Bowl       21.96
54                               Steak Bowl       18.50
56                      Barbacoa Soft Tacos       18.50
57                           Veggie Burrito       18.50
62                              Veggie Bowl       17.98
92                       Steak Crispy Tacos       17.50
111     Chips and Tomatillo Red Chili Salsa       16.98
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.75
191      Chips and Roasted Chili-Corn Salsa       11.75
233      Chips and Roasted Chili Corn Salsa       11.75
237                     Carnitas Soft Tacos       11.75
250                           Chicken Salad       11.75
263                       Canned Soft Drink       11.75
281                        Steak Salad Bowl       11.75
298                       6 Pack Soft Drink       11.75
300     Chips and Tomatillo-Red Chili Salsa       11.75
445                                    Bowl       11.48
510                                 Burrito       11.25
520                            Crispy Tacos       11.25
554                   Carnitas Crispy Tacos       11.25
664                             Steak Salad       11.25
674       Chips and Mild Fresh Tomato Salsa       11.25
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl        9.39
1229                    Barbacoa Salad Bowl        9.25
1414                                  Salad        9.25
1653                    Veggie Crispy Tacos        8.99
1694                           Veggie Salad        8.99
3750                         Carnitas Salad        2.39

In [5]:
# con iloc
chipo.iloc[:,2:5:2]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa       44.25
1                                      Izze       35.25
2                          Nantucket Nectar       35.00
3     Chips and Tomatillo-Green Chili Salsa       35.00
4                              Chicken Bowl       33.75
...                                     ...         ...
4617                          Steak Burrito        1.09
4618                          Steak Burrito        1.09
4619                     Chicken Salad Bowl        1.09
4620                     Chicken Salad Bowl        1.09
4621                     Chicken Salad Bowl        1.09

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],3.99
341,148,1,6 Pack Soft Drink,[Diet Coke],11.75
1849,749,1,6 Pack Soft Drink,[Coke],8.75
1860,754,1,6 Pack Soft Drink,[Diet Coke],8.75
2713,1076,1,6 Pack Soft Drink,[Coke],8.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",11.25
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.99
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",9.25

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [7]:
chipo["quantity"][1]

1

V2

In [8]:
chipo.iloc[0][0]

1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [9]:
total = chipo.loc[chipo.item_name == "Veggie Salad Bowl"] 
sum(total["quantity"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [13]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].shape[0]

20