### CRUD:
- Create
- Replace
- Update
- Delete

===============================

### IMPORTS & GET DATABASE INFO

In [3]:
from jsons import read_json_to_dict
from mysql_driver import MySQL
import pandas as pd
from sqlalchemy import create_engine


json_readed = read_json_to_dict("sql_server_settings.json")
IP_DNS = json_readed["IP_DNS"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]
PORT = json_readed["PORT"]

ValueError: [Errno 2] No such file or directory: 'sql_server_settings.json'

In [4]:
# Connect to MySQL
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
mysql_db.connect()

NameError: name 'IP_DNS' is not defined

============== 

### DROP TABLE

In [ ]:
# Drop table if it already exist using execute() method.
#mysql_db.cursor.execute("DROP TABLE IF EXISTS people")

mysql_db.execute_interactive_sql(sql="DROP TABLE IF EXISTS people") # IF EXISTS para evitar un error por si acaso la tabla no existe

CREATE TABLE

In [ ]:
# Create table as per requirement
create_table_sql = """CREATE TABLE people(
    ID INT(11) NOT NULL AUTO_INCREMENT,
    MOMENTO TIMESTAMP NOT NULL,
    NOMBRE  VARCHAR(20) NOT NULL,
    APELLIDOS VARCHAR(100) NOT NULL,
    DIRECCION VARCHAR(50),
    EDAD INT,
    NOTA VARCHAR(40),
    PRIMARY KEY (ID))"""

mysql_db.execute_interactive_sql(sql=create_table_sql)

In [ ]:
# Primary key: es unica y es la columna por la que se identifica esa tabla

SELECT TABLE

In [ ]:
# Select
select_sql = """SELECT * FROM people"""
select_result = mysql_db.execute_get_sql(sql=select_sql)

# tupla de tuplas
type(select_result)

In [ ]:
select_result


### INSERT TABLE

In [ ]:
# Insert

to_insert_1 = ["Pepito", "Wolfram_Eustaquio", "Calle Bellavista 9º-B", "67", "Enfermedad: Ceguera"]
to_insert_2 = ["Juanita", "Data Science", "Calle Recoletos", "15", "Está muy alegre siempre"]

sql_to_insert_1 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_1)
sql_to_insert_2 = mysql_db.generate_insert_into_people_sql(to_insert=to_insert_2)

In [2]:
sql_to_insert_1

NameError: name 'sql_to_insert_1' is not defined

In [ ]:
# Otra forma de insert ( y ahora la info esta en la base de datos)
mysql_db.execute_interactive_sql(sql="""INSERT INTO people 
(MOMENTO, NOMBRE, APELLIDOS, DIRECCION, EDAD, NOTA) 
VALUES 
(NOW(), 'Pepito', 'Wolfram_Eustaquio', 'Calle Bellavista 9º-B', '67', 'Enfermedad: Ceguera')""")

In [ ]:
mysql_db.execute_interactive_sql(sql=sql_to_insert_1)
mysql_db.execute_interactive_sql(sql=sql_to_insert_2)

=====================

### SELECT COLUMNS

In [ ]:
select_sql = """SELECT * FROM people"""
select_result = mysql_db.execute_get_sql(sql=select_sql)
select_result

In [ ]:
sql_drop = """DELETE FROM people WHERE NOMBRE='Pepito';"""  # recordar: para borrar en sql siempre tengo que decir delete from, no solo delete
mysql_db.execute_interactive_sql(sql=sql_drop)

In [ ]:
select_sql = """SELECT * FROM people"""
select_result = mysql_db.execute_get_sql(sql=select_sql)
select_result

# WITH PANDAS

### Select with pandas

In [ ]:
import pymysql

mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)

# Version 1 
db = mysql_db.connect()
df = pd.read_sql("select * from people", con=db)
df

In [ ]:
# Version 2
db_connection_str = mysql_db.SQL_ALCHEMY

#string = 'mysql+pymysql://user:password@98.76.54.33:20001/apr_july_2021_tb'
db_connection = create_engine(db_connection_str)

df = pd.read_sql("select * from people", con=db_connection)

pd.set_option('display.expand_frame_repr', False)

df

### Insert from pandas

In [ ]:
table_to_insert = "people"

df_to_insert = df.drop(columns=["ID"])
# if_exists tiene dos posibilidades: 
to_append = "append"    #lo añadimos al final
to_replace = "replace"  # reemplazamos lo que tenemos por lo nuevo

try:
    frame_sql = df_to_insert.to_sql(name=table_to_insert, con=db_connection, if_exists="append", index=False)
    print("Success")
except Exception as error:
    print(error)

df = pd.read_sql("select * from people", con=db_connection)
df

=============================

### Update row

In [ ]:
sql_update = """UPDATE people set EDAD=102 WHERE NOMBRE='Juanita';"""

mysql_db.execute_interactive_sql(sql=sql_update)

In [ ]:
mysql_db.close()

### Ejemplo trabajar directamente con pandas

In [ ]:
# Version 2
db_connection_str = mysql_db.SQL_ALCHEMY
db_connection = create_engine(db_connection_str)

df1 = pd.read_sql("select * from people", con=db_connection)

df1

In [ ]:
df1 = df1[df1.ID <= 5]
df1

In [ ]:
# Example

table_to_insert = "people"

to_append = "append"
to_replace = "replace"

try:
    frame_sql = df1.to_sql(name="people", con=db_connection, if_exists="replace", index=False)
    print("Success")
except Exception as error:
    print(error)

### Interactuando directamente con la base de datos sin pasar por pandas

In [ ]:
sql2 = """DELETE FROM people WHERE ID>5;"""

mysql_db.execute_interactive_sql(sql=sql2)