### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types" (solo las keys)

![](df_pk.PNG)

In [7]:
import json
import requests
from pprint import pprint

import pandas as pd
from pandas.io.json import json_normalize

In [12]:
#url = "https://pokeapi.co/api/v2/pokemon/" 
url = "https://docs.openaq.org/v2/countries?limit=200&page=1&offset=0&sort=asc&order_by=country" 
poke_json = requests.get(url).json()
poke_json

{'meta': {'name': 'openaq-api',
  'license': 'CC BY 4.0d',
  'website': 'https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/',
  'page': 1,
  'limit': 200,
  'found': 130},
 'results': [{'code': 'AD',
   'name': 'Andorra',
   'locations': 3,
   'firstUpdated': '2017-09-14T23:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'pm10', 'so2'],
   'count': 93301027,
   'cities': 2,
   'sources': 1},
  {'code': 'AE',
   'name': 'United Arab Emirates',
   'locations': 5,
   'firstUpdated': '2017-12-26T23:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:47+00:00',
   'parameters': ['o3', 'pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 5764752629,
   'cities': 3,
   'sources': 5},
  {'code': 'AF',
   'name': 'Afghanistan',
   'locations': 2,
   'firstUpdated': '2019-10-20T22:30:00+00:00',
   'lastUpdated': '2021-02-01T11:30:00+00:00',
   'parameters': ['pm25'],
   'count': 51956121,
   'cities': 2,
   'sources': 3},
  {'code': 'AM',
   'name': 'Armenia',
   'locations': 2,
   'firstUpdated': '2021-01-21T00:00:06+00:00',
   'lastUpdated': '2021-02-01T13:29:16+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 7459800876,
   'cities': 0,
   'sources': 1},
  {'code': 'AO',
   'name': 'Angola',
   'locations': 2,
   'firstUpdated': '2021-01-21T00:02:35+00:00',
   'lastUpdated': '2021-02-01T13:29:42+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 3842638218,
   'cities': 0,
   'sources': 1},
  {'code': 'AR',
   'name': 'Argentina',
   'locations': 4,
   'firstUpdated': '2014-10-02T12:00:00+00:00',
   'lastUpdated': '2017-10-18T15:00:00+00:00',
   'parameters': ['co', 'no2', 'pm10', 'pm25'],
   'count': 10800,
   'cities': 1,
   'sources': 2},
  {'code': 'AT',
   'name': 'Austria',
   'locations': 319,
   'firstUpdated': '2016-11-18T05:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 39710256984,
   'cities': 16,
   'sources': 4},
  {'code': 'AU',
   'name': 'Australia',
   'locations': 339,
   'firstUpdated': '2016-02-16T01:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 454207132099,
   'cities': 69,
   'sources': 9},
  {'code': 'BA',
   'name': 'Bosnia and Herz.',
   'locations': 47,
   'firstUpdated': '2016-04-26T21:30:00+00:00',
   'lastUpdated': '2021-02-01T13:30:00+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 102880409460,
   'cities': 9,
   'sources': 3},
  {'code': 'BD',
   'name': 'Bangladesh',
   'locations': 2,
   'firstUpdated': '2014-05-24T03:00:00+00:00',
   'lastUpdated': '2016-11-09T16:00:00+00:00',
   'parameters': ['pm25'],
   'count': 7213,
   'cities': 1,
   'sources': 3},
  {'code': 'BE',
   'name': 'Belgium',
   'locations': 134,
   'firstUpdated': '2016-11-17T23:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:53+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 36144308072,
   'cities': 12,
   'sources': 4},
  {'code': 'BF',
   'name': 'Burkina Faso',
   'locations': 1,
   'firstUpdated': '2021-01-21T09:26:38+00:00',
   'lastUpdated': '2021-02-01T12:32:03+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 503622036,
   'cities': 0,
   'sources': 1},
  {'code': 'BG',
   'name': 'Bulgaria',
   'locations': 46,
   'firstUpdated': '2016-11-09T17:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:04+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 12016426999,
   'cities': 17,
   'sources': 6},
  {'code': 'BH',
   'name': 'Bahrain',
   'locations': 1,
   'firstUpdated': '2016-12-01T21:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['o3', 'pm25'],
   'count': 36530118,
   'cities': 1,
   'sources': 1},
  {'code': 'BJ',
   'name': 'Benin',
   'locations': 1,
   'firstUpdated': '2021-01-21T00:00:02+00:00',
   'lastUpdated': '2021-02-01T13:28:02+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 3944198838,
   'cities': 0,
   'sources': 1},
  {'code': 'BK',
   'name': 'BK',
   'locations': 1,
   'firstUpdated': '2018-07-09T00:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['pm25'],
   'count': 34034059,
   'cities': 1,
   'sources': 3},
  {'code': 'BM',
   'name': 'BM',
   'locations': 1,
   'firstUpdated': '2019-06-16T06:30:00+00:00',
   'lastUpdated': '2021-02-01T10:30:00+00:00',
   'parameters': ['o3', 'pm25'],
   'count': 64911635,
   'cities': 1,
   'sources': 3},
  {'code': 'BO',
   'name': 'Bolivia',
   'locations': 2,
   'firstUpdated': '2021-01-21T00:02:31+00:00',
   'lastUpdated': '2021-02-01T13:28:44+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4105589130,
   'cities': 0,
   'sources': 1},
  {'code': 'BR',
   'name': 'Brazil',
   'locations': 224,
   'firstUpdated': '2016-01-30T17:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:56+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 149129521448,
   'cities': 41,
   'sources': 2},
  {'code': 'BZ',
   'name': 'Belize',
   'locations': 1,
   'firstUpdated': '2021-01-21T00:02:04+00:00',
   'lastUpdated': '2021-02-01T13:28:04+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4235288058,
   'cities': 0,
   'sources': 1},
  {'code': 'CA',
   'name': 'Canada',
   'locations': 556,
   'firstUpdated': '2016-03-06T19:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 1400726655685,
   'cities': 12,
   'sources': 14},
  {'code': 'CD',
   'name': 'Dem. Rep. Congo',
   'locations': 3,
   'firstUpdated': '2021-01-21T00:00:04+00:00',
   'lastUpdated': '2021-02-01T13:29:48+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4577940576,
   'cities': 0,
   'sources': 1},
  {'code': 'CE',
   'name': 'CE',
   'locations': 1,
   'firstUpdated': '2019-06-25T21:30:00+00:00',
   'lastUpdated': '2021-01-13T13:30:00+00:00',
   'parameters': ['pm25'],
   'count': 17045,
   'cities': 1,
   'sources': 2},
  {'code': 'CH',
   'name': 'Switzerland',
   'locations': 40,
   'firstUpdated': '2017-09-21T23:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:28+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 38954749245,
   'cities': 15,
   'sources': 8},
  {'code': 'CI',
   'name': "Côte d'Ivoire",
   'locations': 3,
   'firstUpdated': '2020-03-15T21:00:00+00:00',
   'lastUpdated': '2021-02-01T13:16:49+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4355969657,
   'cities': 1,
   'sources': 2},
  {'code': 'CL',
   'name': 'Chile',
   'locations': 173,
   'firstUpdated': '2015-09-23T12:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:37+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 38618993663,
   'cities': 72,
   'sources': 37},
  {'code': 'CN',
   'name': 'China',
   'locations': 2037,
   'firstUpdated': '2013-11-26T08:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:22+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 324889734135,
   'cities': 391,
   'sources': 7},
  {'code': 'CO',
   'name': 'Colombia',
   'locations': 72,
   'firstUpdated': '2016-03-17T15:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:54+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 67487388874,
   'cities': 11,
   'sources': 4},
  {'code': 'CR',
   'name': 'Costa Rica',
   'locations': 1,
   'firstUpdated': '2021-01-21T00:03:02+00:00',
   'lastUpdated': '2021-02-01T13:29:01+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4600826100,
   'cities': 0,
   'sources': 1},
  {'code': 'CS',
   'name': 'CS',
   'locations': 1,
   'firstUpdated': '2019-10-28T18:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['pm25'],
   'count': 33978395,
   'cities': 1,
   'sources': 3},
  {'code': 'CW',
   'name': 'Curacao',
   'locations': 1,
   'firstUpdated': '2018-07-27T16:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['o3', 'pm25'],
   'count': 38279754,
   'cities': 1,
   'sources': 1},
  {'code': 'CY',
   'name': 'Cyprus',
   'locations': 3,
   'firstUpdated': '2020-04-20T16:00:00+00:00',
   'lastUpdated': '2021-02-01T09:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'pm25', 'so2'],
   'count': 228942290,
   'cities': 2,
   'sources': 3},
  {'code': 'CZ',
   'name': 'Czechia',
   'locations': 115,
   'firstUpdated': '2016-11-21T12:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:36+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 28692369901,
   'cities': 15,
   'sources': 3},
  {'code': 'DE',
   'name': 'Germany',
   'locations': 518,
   'firstUpdated': '2016-11-21T11:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 90966420806,
   'cities': 23,
   'sources': 4},
  {'code': 'DK',
   'name': 'Denmark',
   'locations': 22,
   'firstUpdated': '2016-11-21T11:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:56+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 24622048606,
   'cities': 7,
   'sources': 3},
  {'code': 'DZ',
   'name': 'Algeria',
   'locations': 1,
   'firstUpdated': '2019-06-15T22:00:00+00:00',
   'lastUpdated': '2021-02-01T11:00:00+00:00',
   'parameters': ['pm25'],
   'count': 33544143,
   'cities': 1,
   'sources': 1},
  {'code': 'EC',
   'name': 'Ecuador',
   'locations': 8,
   'firstUpdated': '2020-12-29T05:00:00+00:00',
   'lastUpdated': '2021-02-01T11:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'pm10', 'pm25', 'so2'],
   'count': 846017637,
   'cities': 1,
   'sources': 3},
  {'code': 'EE',
   'name': 'Estonia',
   'locations': 9,
   'firstUpdated': '2020-04-20T20:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'pm10', 'pm25', 'so2'],
   'count': 369231293,
   'cities': 6,
   'sources': 1},
  {'code': 'ES',
   'name': 'Spain',
   'locations': 565,
   'firstUpdated': '2016-11-17T23:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:55+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 90158228946,
   'cities': 59,
   'sources': 5},
  {'code': 'ET',
   'name': 'Ethiopia',
   'locations': 3,
   'firstUpdated': '2016-08-18T22:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:30+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 3549980870,
   'cities': 2,
   'sources': 4},
  {'code': 'FI',
   'name': 'Finland',
   'locations': 59,
   'firstUpdated': '2016-12-10T19:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:01+00:00',
   'parameters': ['no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 16294679870,
   'cities': 16,
   'sources': 3},
  {'code': 'FR',
   'name': 'France',
   'locations': 708,
   'firstUpdated': '2016-11-21T11:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:59+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 86621722516,
   'cities': 117,
   'sources': 4},
  {'code': 'GB',
   'name': 'United Kingdom',
   'locations': 284,
   'firstUpdated': '2015-08-12T17:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:59+00:00',
   'parameters': ['co2',
    'no',
    'no2',
    'nox',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 293353359118,
   'cities': 112,
   'sources': 7},
  {'code': 'GH',
   'name': 'Ghana',
   'locations': 21,
   'firstUpdated': '2006-11-13T06:30:00+00:00',
   'lastUpdated': '2021-02-01T13:29:59+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 26285871770,
   'cities': 1,
   'sources': 3},
  {'code': 'GI',
   'name': 'Gibraltar',
   'locations': 3,
   'firstUpdated': '2016-12-10T20:00:00+00:00',
   'lastUpdated': '2018-04-25T18:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'so2'],
   'count': 40226,
   'cities': 1,
   'sources': 1},
  {'code': 'GL',
   'name': 'Greenland',
   'locations': 1,
   'firstUpdated': '2021-01-21T00:01:40+00:00',
   'lastUpdated': '2021-02-01T13:29:49+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4588680198,
   'cities': 0,
   'sources': 1},
  {'code': 'GM',
   'name': 'Gambia',
   'locations': 1,
   'firstUpdated': '2021-01-21T00:02:52+00:00',
   'lastUpdated': '2021-02-01T13:29:41+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 4606244898,
   'cities': 0,
   'sources': 1},
  {'code': 'GN',
   'name': 'Guinea',
   'locations': 1,
   'firstUpdated': '2020-05-01T02:00:00+00:00',
   'lastUpdated': '2021-02-01T12:00:00+00:00',
   'parameters': ['pm25'],
   'count': 33889949,
   'cities': 1,
   'sources': 1},
  {'code': 'GR',
   'name': 'Greece',
   'locations': 104,
   'firstUpdated': '2020-04-20T18:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 356185846227,
   'cities': 5,
   'sources': 2},
  {'code': 'GT',
   'name': 'Guatemala',
   'locations': 11,
   'firstUpdated': '2019-10-20T21:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:57+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 32927994002,
   'cities': 2,
   'sources': 4},
  {'code': 'HK',
   'name': 'Hong Kong',
   'locations': 16,
   'firstUpdated': '2018-01-02T22:00:00+00:00',
   'lastUpdated': '2020-07-10T01:00:00+00:00',
   'parameters': ['co', 'no2', 'o3', 'pm10', 'pm25', 'so2'],
   'count': 1727055,
   'cities': 9,
   'sources': 1},
  {'code': 'HN',
   'name': 'Honduras',
   'locations': 2,
   'firstUpdated': '2021-01-21T00:00:09+00:00',
   'lastUpdated': '2021-02-01T13:29:36+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 7521322980,
   'cities': 0,
   'sources': 1},
  {'code': 'HR',
   'name': 'Croatia',
   'locations': 21,
   'firstUpdated': '2016-11-17T22:00:00+00:00',
   'lastUpdated': '2021-02-01T13:28:30+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 14213597549,
   'cities': 12,
   'sources': 2},
  {'code': 'HU',
   'name': 'Hungary',
   'locations': 26,
   'firstUpdated': '2016-12-12T14:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:44+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 7396518779,
   'cities': 12,
   'sources': 2},
  {'code': 'ID',
   'name': 'Indonesia',
   'locations': 16,
   'firstUpdated': '2014-01-22T00:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:41+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 35969801323,
   'cities': 3,
   'sources': 5},
  {'code': 'IE',
   'name': 'Ireland',
   'locations': 49,
   'firstUpdated': '2016-12-10T21:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 88160980185,
   'cities': 16,
   'sources': 2},
  {'code': 'IL',
   'name': 'Israel',
   'locations': 679,
   'firstUpdated': '2015-02-13T10:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:46+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 25625875084,
   'cities': 14,
   'sources': 3},
  {'code': 'IN',
   'name': 'India',
   'locations': 592,
   'firstUpdated': '2013-12-14T10:30:00+00:00',
   'lastUpdated': '2021-02-01T13:29:59+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 436089450313,
   'cities': 146,
   'sources': 11},
  {'code': 'IQ',
   'name': 'Iraq',
   'locations': 1,
   'firstUpdated': '2019-03-10T16:00:00+00:00',
   'lastUpdated': '2021-02-01T08:00:00+00:00',
   'parameters': ['pm25'],
   'count': 31687098,
   'cities': 1,
   'sources': 1},
  {'code': 'IS',
   'name': 'Iceland',
   'locations': 20,
   'firstUpdated': '2020-02-28T01:00:00+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['co',
    'no2',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 10463428144,
   'cities': 8,
   'sources': 2},
  {'code': 'IT',
   'name': 'Italy',
   'locations': 571,
   'firstUpdated': '2017-11-01T23:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:58+00:00',
   'parameters': ['co',
    'no2',
    'o3',
    'pm1',
    'pm10',
    'pm25',
    'so2',
    'um010',
    'um025',
    'um100'],
   'count': 118551672577,
   'cities': 126,
   'sources': 5},
  {'code': 'IZ',
   'name': 'IZ',
   'locations': 1,
   'firstUpdated': '2019-10-28T18:00:00+00:00',
   'lastUpdated': '2021-02-01T10:00:00+00:00',
   'parameters': ['pm25'],
   'count': 26197589,
   'cities': 1,
   'sources': 2},
  {'code': 'JO',
   'name': 'Jordan',
   'locations': 2,
   'firstUpdated': '2019-10-21T02:00:00+00:00',
   'lastUpdated': '2021-02-01T11:00:00+00:00',
   'parameters': ['pm25'],
   'count': 33343027,
   'cities': 2,
   'sources': 3},
  {'code': 'JP',
   'name': 'Japan',
   'locations': 2,
   'firstUpdated': '2021-01-13T21:54:05+00:00',
   'lastUpdated': '2021-02-01T13:29:40+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 8865801132,
   'cities': 0,
   'sources': 1},
  {'code': 'KE',
   'name': 'Kenya',
   'locations': 8,
   'firstUpdated': '2018-04-18T18:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:56+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 23806763110,
   'cities': 1,
   'sources': 3},
  {'code': 'KG',
   'name': 'Kyrgyzstan',
   'locations': 11,
   'firstUpdated': '2019-03-08T20:00:00+00:00',
   'lastUpdated': '2021-02-01T13:29:48+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],
   'count': 37180206931,
   'cities': 2,
   'sources': 4},
  {'code': 'KR',
   'name': 'South Korea',
   'locations': 98,
   'firstUpdated': '2020-12-16T02:22:32+00:00',
   'lastUpdated': '2021-02-01T13:30:01+00:00',
   'parameters': ['pm1', 'pm10', 'pm25', 'um010', 'um025', 'um100'],

In [3]:
df_pokemons = pd.DataFrame(poke_json)
df_pokemons.head()

,count,next,previous,results
0,1118,https://pokeapi.co/api/v2/pokemon/?offset=20&l...,None,"{'name': 'bulbasaur', 'url': 'https://pokeapi...."
1,1118,https://pokeapi.co/api/v2/pokemon/?offset=20&l...,None,"{'name': 'ivysaur', 'url': 'https://pokeapi.co..."
2,1118,https://pokeapi.co/api/v2/pokemon/?offset=20&l...,None,"{'name': 'venusaur', 'url': 'https://pokeapi.c..."
3,1118,https://pokeapi.co/api/v2/pokemon/?offset=20&l...,None,"{'name': 'charmander', 'url': 'https://pokeapi..."
4,1118,https://pokeapi.co/api/v2/pokemon/?offset=20&l...,None,"{'name': 'charmeleon', 'url': 'https://pokeapi..."

In [4]:
diccionario_pokemon = {}

for i, e in enumerate(poke_json["results"]):
    nombre_pokemon = poke_json["results"][i]["name"]
    url_pokemon = poke_json["results"][i]["url"]
    diccionario_pokemon[nombre_pokemon] = url_pokemon

diccionario_pokemon

{'bulbasaur': 'https://pokeapi.co/api/v2/pokemon/1/',
 'ivysaur': 'https://pokeapi.co/api/v2/pokemon/2/',
 'venusaur': 'https://pokeapi.co/api/v2/pokemon/3/',
 'charmander': 'https://pokeapi.co/api/v2/pokemon/4/',
 'charmeleon': 'https://pokeapi.co/api/v2/pokemon/5/',
 'charizard': 'https://pokeapi.co/api/v2/pokemon/6/',
 'squirtle': 'https://pokeapi.co/api/v2/pokemon/7/',
 'wartortle': 'https://pokeapi.co/api/v2/pokemon/8/',
 'blastoise': 'https://pokeapi.co/api/v2/pokemon/9/',
 'caterpie': 'https://pokeapi.co/api/v2/pokemon/10/',
 'metapod': 'https://pokeapi.co/api/v2/pokemon/11/',
 'butterfree': 'https://pokeapi.co/api/v2/pokemon/12/',
 'weedle': 'https://pokeapi.co/api/v2/pokemon/13/',
 'kakuna': 'https://pokeapi.co/api/v2/pokemon/14/',
 'beedrill': 'https://pokeapi.co/api/v2/pokemon/15/',
 'pidgey': 'https://pokeapi.co/api/v2/pokemon/16/',
 'pidgeotto': 'https://pokeapi.co/api/v2/pokemon/17/',
 'pidgeot': 'https://pokeapi.co/api/v2/pokemon/18/',
 'rattata': 'https://pokeapi.co/api/v2/pokemon/19/',
 'raticate': 'https://pokeapi.co/api/v2/pokemon/20/'}

In [5]:
df_pokemon = pd.DataFrame(diccionario_pokemon, index=["url"])
df_pokemon = df_pokemon.T
df_pokemon

                                              url
bulbasaur    https://pokeapi.co/api/v2/pokemon/1/
ivysaur      https://pokeapi.co/api/v2/pokemon/2/
venusaur     https://pokeapi.co/api/v2/pokemon/3/
charmander   https://pokeapi.co/api/v2/pokemon/4/
charmeleon   https://pokeapi.co/api/v2/pokemon/5/
charizard    https://pokeapi.co/api/v2/pokemon/6/
squirtle     https://pokeapi.co/api/v2/pokemon/7/
wartortle    https://pokeapi.co/api/v2/pokemon/8/
blastoise    https://pokeapi.co/api/v2/pokemon/9/
caterpie    https://pokeapi.co/api/v2/pokemon/10/
metapod     https://pokeapi.co/api/v2/pokemon/11/
butterfree  https://pokeapi.co/api/v2/pokemon/12/
weedle      https://pokeapi.co/api/v2/pokemon/13/
kakuna      https://pokeapi.co/api/v2/pokemon/14/
beedrill    https://pokeapi.co/api/v2/pokemon/15/
pidgey      https://pokeapi.co/api/v2/pokemon/16/
pidgeotto   https://pokeapi.co/api/v2/pokemon/17/
pidgeot     https://pokeapi.co/api/v2/pokemon/18/
rattata     https://pokeapi.co/api/v2/pokemon/19/
raticate    https://pokeapi.co/api/v2/pokemon/20/

In [6]:
lista = ["name","height","id","order","weight","types"]
dictionary = {}
for nombre_pokemon, url in diccionario_pokemon.items():
    peticion_api_url = requests.get(url).json()
    dict2 = {}
    for elem in lista:
        value = peticion_api_url[elem]
        dict2[elem] = value
    dictionary[dict2['name']] = dict2

pprint(dictionary)

{'beedrill': {'height': 10,
              'id': 15,
              'name': 'beedrill',
              'order': 19,
              'types': [{'slot': 1,
                         'type': {'name': 'bug',
                                  'url': 'https://pokeapi.co/api/v2/type/7/'}},
                        {'slot': 2,
                         'type': {'name': 'poison',
                                  'url': 'https://pokeapi.co/api/v2/type/4/'}}],
              'weight': 295},
 'blastoise': {'height': 16,
               'id': 9,
               'name': 'blastoise',
               'order': 12,
               'types': [{'slot': 1,
                          'type': {'name': 'water',
                                   'url': 'https://pokeapi.co/api/v2/type/11/'}}],
               'weight': 855},
 'bulbasaur': {'height': 7,
               'id': 1,
               'name': 'bulbasaur',
               'order': 1,
               'types': [{'slot': 1,
                          'type': {'name': 'grass',
                                   'url': 'https://pokeapi.co/api/v2/type/12/'}},
                         {'slot': 2,
                          'type': {'name': 'poison',
                                   'url': 'https://pokeapi.co/api/v2/type/4/'}}],
               'weight': 69},
 'butterfree': {'height': 11,
                'id': 12,
                'name': 'butterfree',
                'order': 16,
                'types': [{'slot': 1,
                           'type': {'name': 'bug',
                                    'url': 'https://pokeapi.co/api/v2/type/7/'}},
                          {'slot': 2,
                           'type': {'name': 'flying',
                                    'url': 'https://pokeapi.co/api/v2/type/3/'}}],
                'weight': 320},
 'caterpie': {'height': 3,
              'id': 10,
              'name': 'caterpie',
              'order': 14,
              'types': [{'slot': 1,
                         'type': {'name': 'bug',
                                  'url': 'https://pokeapi.co/api/v2/type/7/'}}],
              'weight': 29},
 'charizard': {'height': 17,
               'id': 6,
               'name': 'charizard',
               'order': 7,
               'types': [{'slot': 1,
                          'type': {'name': 'fire',
                                   'url': 'https://pokeapi.co/api/v2/type/10/'}},
                         {'slot': 2,
                          'type': {'name': 'flying',
                                   'url': 'https://pokeapi.co/api/v2/type/3/'}}],
               'weight': 905},
 'charmander': {'height': 6,
                'id': 4,
                'name': 'charmander',
                'order': 5,
                'types': [{'slot': 1,
                           'type': {'name': 'fire',
                                    'url': 'https://pokeapi.co/api/v2/type/10/'}}],
                'weight': 85},
 'charmeleon': {'height': 11,
                'id': 5,
                'name': 'charmeleon',
                'order': 6,
                'types': [{'slot': 1,
                           'type': {'name': 'fire',
                                    'url': 'https://pokeapi.co/api/v2/type/10/'}}],
                'weight': 190},
 'ivysaur': {'height': 10,
             'id': 2,
             'name': 'ivysaur',
             'order': 2,
             'types': [{'slot': 1,
                        'type': {'name': 'grass',
                                 'url': 'https://pokeapi.co/api/v2/type/12/'}},
                       {'slot': 2,
                        'type': {'name': 'poison',
                                 'url': 'https://pokeapi.co/api/v2/type/4/'}}],
             'weight': 130},
 'kakuna': {'height': 6,
            'id': 14,
            'name': 'kakuna',
            'order': 18,
            'types': [{'slot': 1,
                       'type': {'name': 'bug',
                                'url': 'https://pokeapi.co/api/v2/type/7/'}},
                      {'slot': 2,
                       'type': {'name': 'poison',
                                'url': 'https://pokeapi.co/api/v2/type/4/'}}],
            'weight': 100},
 'metapod': {'height': 7,
             'id': 11,
             'name': 'metapod',
             'order': 15,
             'types': [{'slot': 1,
                        'type': {'name': 'bug',
                                 'url': 'https://pokeapi.co/api/v2/type/7/'}}],
             'weight': 99},
 'pidgeot': {'height': 15,
             'id': 18,
             'name': 'pidgeot',
             'order': 23,
             'types': [{'slot': 1,
                        'type': {'name': 'normal',
                                 'url': 'https://pokeapi.co/api/v2/type/1/'}},
                       {'slot': 2,
                        'type': {'name': 'flying',
                                 'url': 'https://pokeapi.co/api/v2/type/3/'}}],
             'weight': 395},
 'pidgeotto': {'height': 11,
               'id': 17,
               'name': 'pidgeotto',
               'order': 22,
               'types': [{'slot': 1,
                          'type': {'name': 'normal',
                                   'url': 'https://pokeapi.co/api/v2/type/1/'}},
                         {'slot': 2,
                          'type': {'name': 'flying',
                                   'url': 'https://pokeapi.co/api/v2/type/3/'}}],
               'weight': 300},
 'pidgey': {'height': 3,
            'id': 16,
            'name': 'pidgey',
            'order': 21,
            'types': [{'slot': 1,
                       'type': {'name': 'normal',
                                'url': 'https://pokeapi.co/api/v2/type/1/'}},
                      {'slot': 2,
                       'type': {'name': 'flying',
                                'url': 'https://pokeapi.co/api/v2/type/3/'}}],
            'weight': 18},
 'raticate': {'height': 7,
              'id': 20,
              'name': 'raticate',
              'order': 27,
              'types': [{'slot': 1,
                         'type': {'name': 'normal',
                                  'url': 'https://pokeapi.co/api/v2/type/1/'}}],
              'weight': 185},
 'rattata': {'height': 3,
             'id': 19,
             'name': 'rattata',
             'order': 25,
             'types': [{'slot': 1,
                        'type': {'name': 'normal',
                                 'url': 'https://pokeapi.co/api/v2/type/1/'}}],
             'weight': 35},
 'squirtle': {'height': 5,
              'id': 7,
              'name': 'squirtle',
              'order': 10,
              'types': [{'slot': 1,
                         'type': {'name': 'water',
                                  'url': 'https://pokeapi.co/api/v2/type/11/'}}],
              'weight': 90},
 'venusaur': {'height': 20,
              'id': 3,
              'name': 'venusaur',
              'order': 3,
              'types': [{'slot': 1,
                         'type': {'name': 'grass',
                                  'url': 'https://pokeapi.co/api/v2/type/12/'}},
                        {'slot': 2,
                         'type': {'name': 'poison',
                                  'url': 'https://pokeapi.co/api/v2/type/4/'}}],
              'weight': 1000},
 'wartortle': {'height': 10,
               'id': 8,
               'name': 'wartortle',
               'order': 11,
               'types': [{'slot': 1,
                          'type': {'name': 'water',
                                   'url': 'https://pokeapi.co/api/v2/type/11/'}}],
               'weight': 225},
 'weedle': {'height': 3,
            'id': 13,
            'name': 'weedle',
            'order': 17,
            'types': [{'slot': 1,
                       'type': {'name': 'bug',
                                'url': 'https://pokeapi.co/api/v2/type/7/'}},
                      {'slot': 2,
                       'type': {'name': 'poison',
                                'url': 'https://pokeapi.co/api/v2/type/4/'}}],
            'weight': 32}}

In [7]:
df_final = pd.DataFrame(dictionary)
df_final = pd.concat([df_pokemon, df_final.T], axis=1)
df_final = df_final[["name", "url", "height", "id", "order", "weight", "types"]]
df_final.reset_index(drop=True, inplace=True)
df_final

,name,url,height,id,order,weight,types
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
5,charizard,https://pokeapi.co/api/v2/pokemon/6/,17,6,7,905,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
6,squirtle,https://pokeapi.co/api/v2/pokemon/7/,5,7,10,90,"[{'slot': 1, 'type': {'name': 'water', 'url': ..."
7,wartortle,https://pokeapi.co/api/v2/pokemon/8/,10,8,11,225,"[{'slot': 1, 'type': {'name': 'water', 'url': ..."
8,blastoise,https://pokeapi.co/api/v2/pokemon/9/,16,9,12,855,"[{'slot': 1, 'type': {'name': 'water', 'url': ..."
9,caterpie,https://pokeapi.co/api/v2/pokemon/10/,3,10,14,29,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
10,metapod,https://pokeapi.co/api/v2/pokemon/11/,7,11,15,99,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
11,butterfree,https://pokeapi.co/api/v2/pokemon/12/,11,12,16,320,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
12,weedle,https://pokeapi.co/api/v2/pokemon/13/,3,13,17,32,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
13,kakuna,https://pokeapi.co/api/v2/pokemon/14/,6,14,18,100,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
14,beedrill,https://pokeapi.co/api/v2/pokemon/15/,10,15,19,295,"[{'slot': 1, 'type': {'name': 'bug', 'url': 'h..."
15,pidgey,https://pokeapi.co/api/v2/pokemon/16/,3,16,21,18,"[{'slot': 1, 'type': {'name': 'normal', 'url':..."
16,pidgeotto,https://pokeapi.co/api/v2/pokemon/17/,11,17,22,300,"[{'slot': 1, 'type': {'name': 'normal', 'url':..."
17,pidgeot,https://pokeapi.co/api/v2/pokemon/18/,15,18,23,395,"[{'slot': 1, 'type': {'name': 'normal', 'url':..."
18,rattata,https://pokeapi.co/api/v2/pokemon/19/,3,19,25,35,"[{'slot': 1, 'type': {'name': 'normal', 'url':..."
19,raticate,https://pokeapi.co/api/v2/pokemon/20/,7,20,27,185,"[{'slot': 1, 'type': {'name': 'normal', 'url':..."

![](df_pk.PNG)

Ejercicio 2
¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types" (solo las keys)

In [8]:
flat_list_1 = []
for i, elem in dictionary.items():
    flat_list_1.append(dictionary[i]["types"])

In [9]:
flat_list_2 = [item for sublist in flat_list_1 for item in sublist]

In [10]:
slot = [i["slot"] for i in flat_list_2]
tipo = [i["type"] for i in flat_list_2]
name = [i["name"] for i in tipo]
url = [i["url"] for i in tipo]

In [36]:
df_ejer2 = pd.DataFrame([slot, name, url])
df_ejer2 = df_ejer2.T
df_ejer2.columns = ["slot", "type name", "url"]

In [37]:
df_ejer2

   slot type name                                 url
0     1     grass  https://pokeapi.co/api/v2/type/12/
1     2    poison   https://pokeapi.co/api/v2/type/4/
2     1     grass  https://pokeapi.co/api/v2/type/12/
3     2    poison   https://pokeapi.co/api/v2/type/4/
4     1     grass  https://pokeapi.co/api/v2/type/12/
5     2    poison   https://pokeapi.co/api/v2/type/4/
6     1      fire  https://pokeapi.co/api/v2/type/10/
7     1      fire  https://pokeapi.co/api/v2/type/10/
8     1      fire  https://pokeapi.co/api/v2/type/10/
9     2    flying   https://pokeapi.co/api/v2/type/3/
10    1     water  https://pokeapi.co/api/v2/type/11/
11    1     water  https://pokeapi.co/api/v2/type/11/
12    1     water  https://pokeapi.co/api/v2/type/11/
13    1       bug   https://pokeapi.co/api/v2/type/7/
14    1       bug   https://pokeapi.co/api/v2/type/7/
15    1       bug   https://pokeapi.co/api/v2/type/7/
16    2    flying   https://pokeapi.co/api/v2/type/3/
17    1       bug   https://pokeapi.co/api/v2/type/7/
18    2    poison   https://pokeapi.co/api/v2/type/4/
19    1       bug   https://pokeapi.co/api/v2/type/7/
20    2    poison   https://pokeapi.co/api/v2/type/4/
21    1       bug   https://pokeapi.co/api/v2/type/7/
22    2    poison   https://pokeapi.co/api/v2/type/4/
23    1    normal   https://pokeapi.co/api/v2/type/1/
24    2    flying   https://pokeapi.co/api/v2/type/3/
25    1    normal   https://pokeapi.co/api/v2/type/1/
26    2    flying   https://pokeapi.co/api/v2/type/3/
27    1    normal   https://pokeapi.co/api/v2/type/1/
28    2    flying   https://pokeapi.co/api/v2/type/3/
29    1    normal   https://pokeapi.co/api/v2/type/1/
30    1    normal   https://pokeapi.co/api/v2/type/1/

In [ ]:
# Quiero añadir el nombre de los pokemons y tendría un hierarchical indexing, pero no se por qué los valores del dataframe cambian a NaN:

In [29]:
x = [item for sublist in df_final.iloc[:,:1].values.tolist() for item in sublist]
index = pd.MultiIndex.from_product([x, [1,2]])

In [34]:
df_ejer2 = df_ejer2.reindex(index)
df_ejer2

             slot type name  url
bulbasaur  1  NaN       NaN  NaN
           2  NaN       NaN  NaN
ivysaur    1  NaN       NaN  NaN
           2  NaN       NaN  NaN
venusaur   1  NaN       NaN  NaN
           2  NaN       NaN  NaN
charmander 1  NaN       NaN  NaN
           2  NaN       NaN  NaN
charmeleon 1  NaN       NaN  NaN
           2  NaN       NaN  NaN
charizard  1  NaN       NaN  NaN
           2  NaN       NaN  NaN
squirtle   1  NaN       NaN  NaN
           2  NaN       NaN  NaN
wartortle  1  NaN       NaN  NaN
           2  NaN       NaN  NaN
blastoise  1  NaN       NaN  NaN
           2  NaN       NaN  NaN
caterpie   1  NaN       NaN  NaN
           2  NaN       NaN  NaN
metapod    1  NaN       NaN  NaN
           2  NaN       NaN  NaN
butterfree 1  NaN       NaN  NaN
           2  NaN       NaN  NaN
weedle     1  NaN       NaN  NaN
           2  NaN       NaN  NaN
kakuna     1  NaN       NaN  NaN
           2  NaN       NaN  NaN
beedrill   1  NaN       NaN  NaN
           2  NaN       NaN  NaN
pidgey     1  NaN       NaN  NaN
           2  NaN       NaN  NaN
pidgeotto  1  NaN       NaN  NaN
           2  NaN       NaN  NaN
pidgeot    1  NaN       NaN  NaN
           2  NaN       NaN  NaN
rattata    1  NaN       NaN  NaN
           2  NaN       NaN  NaN
raticate   1  NaN       NaN  NaN
           2  NaN       NaN  NaN